.App {
  margin: 0;
  padding: 0;
}

.main-container {
  width: 100vw;
  height: 100vh;
  background-color: #252525;
  position: relative;
}
.logo {
  height: 50px;
  width: 150px;
  padding-left: 5%;
  padding-top: 2%;
  cursor: pointer;
}
.header {
  color: white;
  margin: 0;
  padding-left: 5%;
  padding-top: 5%;
}
.upper-container {
  height: 50%;
  background-color: #1a1a1a;
  font-size: 24px;
}
.cur-conv-container {
  width: 65%;
  height: 150px;
  background-color: #353535;
  position: absolute;
  top: 40%;
  left: 5%;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #f2f2f2;
}
.amount-container {
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-between;
  align-items: flex-start;
}
.amount-text {
  margin-left: 10px;
  font-size: 16px;
}
.amount-number {
  background-color: #454545;
  color: white;
  height: 25px;
  border-radius: 10px;
  width: 150px;
  font-size: 20px;
  padding: 10px;

  border-style: none;
}
.from-container {
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-between;
  align-items: flex-start;
}
.from-text {
  margin-left: 10px;
  font-size: 16px;
}
.opt {
  background-color: #454545;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  width: 150px;
  border-style: none;
  padding: 10px;
  line-height: 20px;
  cursor: pointer;
}

.to-container {
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-between;
  align-items: flex-start;
}
.to-text {
  margin-left: 10px;
  font-size: 16px;
}
.convert-container {
  border-radius: 15px;
  background-color: yellow;
  color: #000;

  border-radius: 10px;
  width: 120px;
  height: 45px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  margin-top: 30px;
}
.swip-container {
  margin-top: 30px;
}
.footer-container {
  height: 50%;
  display: flex;
  justify-content: space-between;
}
.statment {
  padding-left: 7%;
  padding-top: 10%;
  font-size: 32px;
  color: white;
}
span {
  font-size: 48px;
  font-weight: bold;
}
.history {
  margin-right: 10%;
  margin-top: 1%;
  color: #858585;
}
