.App {
  margin: 0;
  padding: 0;
}

.main-container {
  width: 100vw;
  height: 100vh;
  background-color: #353535;
  position: relative;
}
.upper-container {
  height: 50%;
  background-color: #1a1a1a;
}
.logo {
  height: 25px;
  width: 123.15px;
  padding-left: 5%;
  padding-top: 40px;
  cursor: pointer;
}
.header {
  color: white;
  margin: 0;
  padding-left: 5%;
  padding-top: 5%;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
}

.cur-conv-container {
  height: 128px;
  width: 905px;
  border-radius: 15px;
  background-color: #353535;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  margin-top: -64px;
  left: 5%;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #f2f2f2;
}
.amount-container {
  height: 64px;
  width: 200px;
  margin-bottom: 10px;
}
.amount-text {
  height: 14px;
  width: 43px;
  color: #c6c6c6;
  font-family: Roboto;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 10px;
}
.amount-number {
  height: 40px;
  width: 200px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.08);
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  outline: none;
}

.from-container {
  height: 64px;
  width: 200px;
  margin-bottom: 10px;
}
.from-text {
  height: 14px;
  width: 43px;
  color: #c6c6c6;
  font-family: Roboto;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 10px;
}
.options-container {
  display: flex;
  width: 450px;
  align-items: center;
  justify-content: space-between;
}
.opt {
  height: 45px;
  width: 200px;
  border-radius: 8px;
  background-color: #454545;
  color: #fff;
}

.to-container {
  height: 64px;
  width: 200px;
  margin-bottom: 10px;
}
.to-text {
  height: 14px;
  width: 43px;
  color: #c6c6c6;
  font-family: Roboto;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 10px;
}
.convert-container {
  height: 44px;
  width: 117px;
  border-radius: 15px;
  background-color: yellow;
  color: #000;

  border-radius: 10px;

  font-size: 18px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  margin-top: 18px;
}
.swip-container {
  margin-top: 24px;
  color: yellow;
  cursor: pointer;
}
.footer-container {
  height: 50%;
  display: flex;
  justify-content: space-between;
}
.statment {
  padding-left: 7%;
  padding-top: 10%;

  color: white;
  font-family: Roboto;
  font-size: 20px;
  line-height: 23px;
}
span {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
}
.history {
  margin-right: 119px;
  margin-top: 1%;
  color: #858585;
}
.history-btn {
  outline: none;
  text-decoration: none;
  color: #858585;
}

@media screen and (max-width: 480px) {
  .logo {
    padding-left: 5%;
    padding-top: 5%;
  }
  .header {
    color: white;
    font-size: 22px;
    margin: 0;
    padding-left: 5%;
    padding-top: 20%;
  }
  .upper-container {
    font-size: 18px;
  }
  .cur-conv-container {
    height: 250px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: -125px;
  }
  .amount-container {
    height: 64px;
    width: 150px;
  }
  .amount-text {
    height: 14px;
    width: 43px;
    text-align: center;
  }
  .amount-number {
    height: 40px;
    width: 150px;
  }
  .options-container {
    width: 150px;
  }
  .from-container {
    height: 64px;
    width: 50px;
    margin-bottom: 10px;
  }
  .from-text {
    height: 14px;
    width: 43px;
    color: #c6c6c6;
    font-family: Roboto;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 10px;
  }

  .opt {
    height: 45px;
    width: 50px;
    border-radius: 8px;
    background-color: #454545;
    color: #fff;
  }

  .to-container {
    height: 64px;
    width: 50px;
    margin-bottom: 10px;
  }
  .to-text {
    height: 14px;
    width: 43px;
    color: #c6c6c6;
    font-family: Roboto;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 10px;
  }
  .convert-container {
    height: 44px;
    width: 150px;

    font-size: 14px;
  }
  .statment {
    padding-left: 7%;
    padding-top: 40%;
    font-size: 14px;
    color: white;
  }
  span {
    font-size: 18px;
    font-weight: bold;
  }
  .history {
    margin-right: 7px;

    margin-top: 10px;
    color: #858585;
  }
  .history-btn {
    outline: none;
    text-decoration: none;
    color: #858585;
    font-size: 10px;
  }
}
