.history-container {
  max-width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  background-color: #1a1a1a;
}
.table {
  width: 100%;
  height: 100%;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.table-head {
  width: 90%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 40px;
  color: #f2f2f2;
  margin-top: 50px;
  margin-bottom: 10px;
}
.table-row {
  color: #f2f2f2;
  background-color: #343434;
  width: 90%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 25px;

  border-radius: 15px;
  background-color: #353535;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
}
.go-back {
  outline: none;
  text-decoration: none;
  color: #858585;
  margin-left: 5%;
  margin-top: 60px;
}
